In [1]:
import pandas as pd
from author_properties_transformers import author_influence
from sklearn.model_selection import train_test_split

In [62]:
df = pd.read_csv("../Data/wsb_cleaned.csv", nrows = 10000)

df = df.loc[df.author != "None"]
#df

In [63]:

df = df[['author', 'title', 'id' , 'ups']]

In [71]:


for summary_type in ['sum', 'mean', 'median', 'count' ]:
    pop_agg = author_influence()
    pop_agg.kind = summary_type
    pop_agg.fit(df)
    df["agg" + summary_type] = pop_agg.transform(df)
    print("finished with", summary_type)
    
df

finished with sum
finished with mean
finished with median
finished with count

,author,title,id,ups,aggsum,aggmean,aggmedian,aggcount
2,unclerudy,Buy INTU - DD,eipw3g,5,15,3.750000,4.5,4
3,bd_one,"If you thought your 2019 was bad, at least you...",eipusd,1,1,1.000000,1.0,1
4,IpMedia,I will remember,eipn7c,11,15,3.000000,1.0,5
6,Hobbstc,CHWY to the moon!,eipbic,1,1,1.000000,1.0,1
7,DrSecret007,New Years Challenge: 5K Make-it or Break-it,eipbbd,50,50,50.000000,50.0,1
...,...,...,...,...,...,...,...,...
9990,gameztheory,Quick IBM Roast,ewdh5k,6,40,20.000000,20.0,2
9993,montclearman,SPY 2/5 $330 Calls All Day,ewdfzu,12,12,12.000000,12.0,1
9994,omgoptions,I have weak hands. Sold 6 of 9 2100 calls 2/7 ...,ewdfml,1,39,4.333333,1.0,9
9996,LiquidityMan,Why Asian Markets Rallied After WHO Announcement,ewddnz,39,882,58.800000,29.0,15
9997,jartek,WallStreetBets: How Boomers Made the World's B...,ewdd5x,1857,2249,1124.500000,1124.5,2

In [64]:
df = df[['author', 'title', 'id' , 'ups']]

In [51]:
from sklearn.svm import SVC

from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import FeatureUnion

In [52]:


X_train, X_test, y_train, y_test = train_test_split(df[['author', 'ups']], df.ups,
                                                    random_state=0)

In [69]:
author_stat_transformer = FeatureUnion([('aggsum', author_influence(kind = 'sum')), 
                           ('aggmean', author_influence(kind = 'mean')), 
                           ('aggmedian', author_influence(kind = 'median')),
                            ('aggcount', author_influence(kind = 'count'))
                           
                           ])

In [70]:
author_stat_transformer
author_stat_transformer.fit(df)
pd.DataFrame(author_stat_transformer.transform(df))

           0            1       2     3
0       15.0     3.750000     4.5   4.0
1        1.0     1.000000     1.0   1.0
2       15.0     3.000000     1.0   5.0
3        1.0     1.000000     1.0   1.0
4       50.0    50.000000    50.0   1.0
...      ...          ...     ...   ...
5688    40.0    20.000000    20.0   2.0
5689    12.0    12.000000    12.0   1.0
5690    39.0     4.333333     1.0   9.0
5691   882.0    58.800000    29.0  15.0
5692  2249.0  1124.500000  1124.5   2.0

[5693 rows x 4 columns]